<!DOCTYPE html>
{% extends 'NavBar/DeliveryNavBar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>{% block body %}
<h1 align="center" style="color: #063970; font-family: Arial, sans-serif; font-size: 36px; font-weight: bold;"><I>Sit back, relax, and let us do the rest.</I>
</h1>
<div class="container">
  <img src="{% static 'images/background1.jpg' %}" class="d-block mx-auto w-100" alt="Image">
</div>
{% endblock %}
</body>
</html>